@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --primery-color:rgb(106, 169, 196);
    --primery-color-dark:rgb(70, 129, 154);
    --font-padrao:'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
}
body {
    background-color: var(--primery-color);
    font-family: var(--font-padrao);
    font-size: 1.3em;
    line-height: 1.5em;
    
}
.container-conteudo-imc {
    display: flex;
    gap: 20px;
}
.container-titulo {
    padding-bottom:10px ; 
    margin-right: 100px;
}
.container h1 {
    margin: 20px 0 30px; 
}

.container {
    max-width: 640px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    
}

input, label, button {
    margin-bottom: 10px;
}

input{
    font-size: 14px;
    height: 25px;
    padding: 0 20px;
}
section {
    display: flex;
}
input:focus {
    outline: 1px solid var(--primery-color);
}
button {
    width: 100%;
    border: transparent;
    background-color: var(--primery-color);
    color: #fff;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 700;
    font-size: 0.7em;
}
#sexo input {
    transform: translateY(22%);
    border-radius: 50%;
}
button:hover {
    background-color: var(--primery-color-dark);
}
img {
    margin-top: 5px;
    width: 100px;
    height:100px;
    object-fit: cover;
    object-position: center center;
}